
@{
    ViewBag.Title = "EditRest";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            function loadAllName1() {

                $.ajax({
                    type: 'GET',
                    url: '/Admin/GetAllName',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        var toptions = $("#S12");
                        var option = "<option value='Select Name'>Select Name </option>";
                        for (var i = 0; i < data.length; i++) {
                            option += "<option value='" +
                                data[i] +
                                "'>" + data[i] + "</option>";
                        }
                        toptions.append(option);
                    },
                    error: function (err) {
                        console.log('Something Wrong !!!!');
                    }

                });

            }




            function loadAllName() {

                $.ajax({
                    type: 'GET',
                    url: '/Admin/GetAllName',
                    dataType: 'JSON',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        var toptions = $("#s2");
                        var option = "<option value='Select Name'>Select Name </option>";
                        for (var i = 0; i < data.length; i++) {
                            option += "<option value='" +
                                data[i] +
                                "'>" + data[i] + "</option>";
                        }
                        toptions.append(option);
                    },
                    error: function (err) {
                        console.log('Something Wrong !!!!');
                    }

                });

            }



            function cities() {
                var dat = {
                    Rname: $("#s2").val(),
                }
                $.ajax({
                    type: 'POST',
                    url: '/Admin/GetAllCity',
                    data: JSON.stringify(dat),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        var toptions = $("#s1");
                        var option = "<option value='Select Name'>Select Name </option>";
                        for (var i = 0; i < data.length; i++) {
                            option += "<option value='" +
                                data[i] +
                                "'>" + data[i] + "</option>";
                        }
                        toptions.append(option);
                    },
                    error: function (res) {
                        alert('Something Went Wrong');
                        console.log(res);
                    }

                });
            }



            function Locs() {
                var dat = {
                    Rname: $("#s2").val(),
                    bcity: $("#s1").val(),
                }
                $.ajax({
                    type: 'POST',
                    url: '/Admin/GetAllLoc',
                    data: JSON.stringify(dat),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        var toptions = $("#s3");
                        var option = "<option value='Select Name'>Select Name </option>";
                        for (var i = 0; i < data.length; i++) {
                            option += "<option value='" +
                                data[i] +
                                "'>" + data[i] + "</option>";
                        }
                        toptions.append(option);
                    },
                    error: function (res) {
                        alert('Something Went Wrong');
                        console.log(res);
                    }

                });
            }




            function Data() {
                $.ajax({
                    type: 'GET',
                    url: '/Admin/Branch3',
                    dataType: 'JSON',
                    data: {
                        Rname: $("#s2").val(),
                        bcity: $("#s1").val(),
                        Location: $("#s3").val()
                    },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        $("#S5").val(data[0].bphonenum);
                        $("#loc").val(data[0].Location);
                        $("#File3").val(data[0].Itemimage);
                        $("#s5").val(data[0].bcity);
                    },
                    error: function (err) {
                        alert('wrong');
                        console.log('Something Wrong !!!!');
                    }

                });
            }


            function delBranch() {
                var dat = {
                    Rname: $("#s2").val(),
                    bcity: $("#s1").val(),
                    Location: $("#s3").val()
                }
                $.ajax({
                    type: 'POST',
                    url: '/Admin/DelBranch2',
                    data: JSON.stringify(dat),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        alert('Branch Deleted');
                        console.log(data);
                        var url = '/Admin/EditRest/';
                        window.location = url;
                    }
                });
            }
    </script>
    <script>
                function restaurants() {
                    var dat = {
                    Rname: $("#S12").val()
                    }
                    $.ajax({
                    type: 'POST',
                        url: '/Admin/Restaurants3',
                        //data: {id:$("#t1").val()},
                        data: JSON.stringify(dat),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            var tdata = $("#tblRest tbody");
                            tdata.empty();
                            for (var i = 0; i < data.length; i++) {
                                var trow = "<tr>" +
                                    "<td>" + data[i].Rname + "</td>" +
                                    "<td>" + data[i].bcity + "</td>" +
                                    "<td>" + data[i].Location + "</td>" +
                                    "<td>" + "<img src=" + data[i].bimage + " width='70' height='70'/>" + "</td>"
                                "</tr>";
                                tdata.append(trow);
                            }

                        },
                        error: function (res) {
                    alert('Something Went Wrong');
                            console.log(res);
                        }

                    });
                }


                cities3();
    </script>
</head>
<body style="background-image: url('../../Images/food1.jpg');background-size:cover">
    <div style="margin-left: 100px; margin-top: 30px;margin-right: 100px;">
        Select Restaurant:
        <select id="S12" onchange="restaurants()">
            <option>   </option>
        </select>
        <hr>
    </div>
    <div style="margin-left: 50px;margin-top: 50px;margin-right: 50px;border: 1px solid black">
        <table id="tblRest" class="table table-bordered">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Restaurant Name:</th>
                    <th>City:</th>
                    <th>Location</th>
                    <th>Picture</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <div style="margin-left:200px;width:600px; height: 300px; float: left;">
        @using (Html.BeginForm("FinalUpdateBranch", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Edit Restaurant Details Here:</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td> Select Restaurant Name:</td>
                        <td>
                            <select id="s2" onchange="cities()" name="Rname">
                                <option>   </option>
                            </select>
                        </td>

                    </tr>
                    
                    <tr>
                        <td>Select City:</td>
                        <td>
                            <select id="s1" onchange="Locs()" name="bcity">
                                <option>   </option>
                            </select>
                        </td>
                    </tr>


                    <tr>
                        <td> Select Location:</td>
                        <td>
                            <select id="s3" onchange="Data()" name="Location">
                                <option>   </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Enter New Location:</td>
                        <td>
                            <input id="loc" type="text" name="Location1" />
                        </td>
                    </tr>
                    <tr>
                        <td>Enter New City:</td>
                        <td>
                            <input id="s5" type="text" name="bcity1" />
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Phonenumber:</td>
                        <td>
                            <input id="S5" type="text" name="bphonenum" />
                        </td>
                    </tr>

                    @*<tr>
            <td> Select Restaurant Type:</td>
            <td>
                <select id="S4" name="Category">
                    <option>   </option>
                    <option>Veg</option>
                    <option>Veg&Nonveg</option>
                </select>
            </td>
        </tr>*@
                    <tr>
                        <td>Select Image:</td>
                        <td>
                            <input id="File1" name="pfile1" type="file" onchange="readfile(this)" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input id="btnDel" type="button"
                                   onclick="delBranch()" value="Delete Branch" />
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input id="btnChange" type="Submit"
                                   value="Update" />

                        </td>
                    </tr>
                </tbody>
            </table>
        }
        <div style="margin-left: 800px; margin-top: -200px;display:none" id="imagepreview" class="thumbnail, zoom">
            <img class="img-responsive" id="targetImg" width="100" height="100" />

        </div>


    </div>



    <div>
            <img src="readfile()" alt="" />
            <img src="" alt="" />
        </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#File1").change(function () {
                var File = this.files;
                if (File && File[0]) {
                    ReadImage(File[0]);
                }
            })
        })
        var ReadImage = function (file) {
            var reader = new FileReader;
            var image = new Image;
            reader.readAsDataURL(file);
            reader.onload = function (_file) {
                image.src = _file.target.result;
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    var type = file.type;
                    var size = ~~(file.size / 1024) + "KB";
                    $("#targetImg").attr('src', _file.target.result);
                    $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                    $("#imagepreview").show();
                }
            }
        }
    </script>

    <script type="text/javascript">
        function readfile(input) {
            console.log(input);
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#File4').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readfile1(input) {
            console.log(input);
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#File3').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>
<script>
    //restaurants();
    loadAllName();
    loadAllName1();
</script>