@model IEnumerable<Final.Models.Mymenu>

@{
    ViewBag.Title = "EditMenu";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function delItem() {
            var dat = {
                Rname: $("#s1").val(),
                Itemsname: $("#s2").val()
            }
            $.ajax({
                type: 'POST',
                url: '/Admin/DelItem2',
                data: JSON.stringify(dat),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    alert('Item Deleted');
                    console.log(data);
                    var url = '/Admin/AddMenu/';
                    window.location = url;
                }
            });
        }

        function loadAllName() {

            $.ajax({
                type: 'GET',
                url: '/Admin/GetAllName',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    console.log(data);
                    var toptions = $("#s1");
                    var option = "<option value='Select Name'>Select Name </option>";
                    for (var i = 0; i < data.length; i++) {
                        option += "<option value='" +
                            data[i] +
                            "'>" + data[i] + "</option>";
                    }
                    toptions.append(option);
                },
                error: function (err) {
                    console.log('Something Wrong !!!!');
                }

            });

        }
        function loadAllName1() {

            $.ajax({
                type: 'GET',
                url: '/Admin/GetAllName',
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    console.log(data);
                    var toptions = $("#s5");
                    var option = "<option value='Select Name'>Select Name </option>";
                    for (var i = 0; i < data.length; i++) {
                        option += "<option value='" +
                            data[i] +
                            "'>" + data[i] + "</option>";
                    }
                    toptions.append(option);
                },
                error: function (err) {
                    console.log('Something Wrong !!!!');
                }

            });

        }


        function loadStud() {
            $.ajax({
                type: 'GET',
                url: '/Admin/Menu4',
                dataType: 'JSON',
                data: {
                    Rname: $("#s1").val(),
                    Itemsname: $("#s2").val(),
                },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    $("#m1").val(data[0].Itemsname);
                    $("#m2").val(data[0].price);
                    $("#File1").val(data[0].Itemimage);
                    //$("#txtPrice").val(data.price);
                    //$("#txtAge").val(data.Studage);
                    //$("#txtPrice").val(data.price);
                },
                error: function (err) {
                    alert('wrong');
                    console.log('Something Wrong !!!!');
                }

            });
        }
        //function finalUpdate() {
        //    var price = $("#m2").val();
        //    var Foodtype = $("#s4").val();
        //    var Itemsname = $("#s2").val();
        //    var Rname = $("#s1").val();
        //    //var  = $("#txtAddr").val();
        //    //var age = $("#txtAge").val();
        //    var stud = {
        //        price: price,
        //        Foodtype: Foodtype,
        //        Itemsname: Itemsname,
        //        Rname:Rname,
        //    };
        //    $.ajax({
        //        type: 'POST',
        //        url: '/Admin/FinalUpdateMenu',
        //        data: JSON.stringify(stud),
        //        dataType: 'JSON',
        //        contentType: "application/json; charset=utf-8",
        //        success: function (data) {
        //            alert('Updated Successfully !!!!');

        //            window.location = "/Admin/EditMenu";
        //        },
        //        error: function (err) {
        //            alert('Wrong');
        //            console.log('Something Wrong !!!!');
        //        }

        //    });
        //}






        function loaditems() {
            var dat = {
                Rname: $("#s1").val(),

            }
            $.ajax({
                type: 'POST',
                url: '/Admin/Menu5',
                data: JSON.stringify(dat),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var options = '';
                    options = '<option value=Select Item> Select Item</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i] + '">' +
                            data[i] + '</option>';
                    }
                    $("#s2").empty();
                    $("#s2").append(options);
                },
                error: function (res) {
                    alert('Something Went Wrong');
                    console.log(res);
                }

            });
        }
        function loadAllitems() {
            var dat = {
                Rname: $("#s5").val(),
            }
            $.ajax({
                type: 'POST',
                url: '/Admin/Menu3',
                data: JSON.stringify(dat),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var tdata = $("#tblMenu tbody");
                    tdata.empty();
                    for (var i = 0; i < data.length; i++) {
                        var trow = "<tr>" +
                            "<td>" + data[i].Itemsname + "</td>" +
                            "<td>" + data[i].price + "</td>" +
                            "<td>" + data[i].Foodtype + "</td>" +
                            "<td>" + "<img src=" + data[i].Itemimage + " width='70' height='70'/>" + "</td>"
                        "</tr>";
                        tdata.append(trow);
                    }

                },
                error: function (res) {
                    alert('Something Went Wrong');
                    console.log(res);
                }

            });

        }
    </script>
</head>
<body style="background-image: url('../../Images/mn.jpg')"background-size:cover">
    <div style="margin-left: 500px; margin-top: 30px;margin-right: 100px;">
        
    </div>
    <div style="margin-left: 400px;margin-top: 50px;margin-right: 50px;width:600px; border: 1px solid black">
        <tr>
            <td>
                Select Restaurant:

            </td>
            <td>
                <select id="s5" onchange="loadAllitems()" name="Rname">
                    <option>   </option>
                </select>
            </td>
        </tr>
        <table id="tblMenu" class="table table-bordered">
            <thead class="bg-primary text-white">

                <tr>
                    <th>Food Item:</th>
                    <th>Food Type:</th>
                    <th>Price</th>
                    <th>Image</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div style="margin-left: 400px;margin-top: 50px;margin-right: 50px;width:600px; border: 1px solid black">
        @*@using (Html.BeginForm("AddMenu2", "Admin", FormMethod.Post,
                                                 new { enctype = "multipart/form-data" }))
        {*@
        @using (Html.BeginForm("FinalUpdateMenu", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Edit Menu Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Select Restaurant:
                        </td>
                        <td>
                            <select id="s1" onchange="loaditems()" name="Rname">
                                <option>   </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Select Item:
                        </td>
                        <td>
                            <select id="s2" onchange="loadStud()" name="Itemsname">
                                <option>   </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td> itemname</td>
                        <td>
                            <input id="m1" type="text" readonly="readonly" name ="Itemsname" />
                        </td>
                    <tr>
                        <td> Enter  Price</td>
                        <td>
                            <input id="m2" type="text" name="price" />
                        </td>
                    </tr>
                    <tr>
                        <td>Select Image:</td>
                        <td>
                            <input id="File1" name="pfile1" type="file" onchange="readfile(this)" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Select type:
                            </td>
                        <td>
                            <select id="s4" onchange="" name="Foodtype">
                                <option>Veg</option>
                                <option>Nonveg</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <input id="btnAdd" type="submit" onclick=""
                                   value="Update" />
                        </td>
                        <td >
                            <input id="btndel" type="button" onclick="delItem()"
                                   value="delitem" />
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        <div style="margin-left: 800px; margin-top: -200px;display:none" id="imagepreview" class="thumbnail, zoom">
            <img class="img-responsive" id="targetImg" width="100" height="100" />

        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("#File1").change(function () {
            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0]);
            }
        })
    })
    var ReadImage = function (file) {
        var reader = new FileReader;
        var image = new Image;
        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";
                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                $("#imagepreview").show();
            }
        }
    }
</script>
<div>
    <script>
        loadAllName();
        loadAllName1();
            //loadAllitems();
    </script>
</div>