
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Admin.cshtml";

}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif;
            background-color: #808080
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }
    </style>
</head>
<body>

    <div class="full-screen" style="margin-left:35px;margin-top: 500px;margin-right:1px;">
        <video src="~/Images/Video/vid5.mp4" autoplay muted loop></video>

    </div>

</body>

@*<body style="background-image: url('../../Images/sk.jpg');background-size:cover">

    </body>*@
